.vscode
Impulsor-3000.code-workspace
libs/**/*.tgz
libs/**/*.zip
libs/*.tar
target
test
installer/linux/appimage/Impulsor-3000-x86_64.AppDir
installer/linux/appimage/Impulsor-3000-x86_64.AppImage
installer/windows/impulsor3000_setup.exe
installer/windows/install_dir
archive
