[Desktop Entry]
Type=Application
Name=Impulsor-3000
GenericName=impuls pdf converter
Icon=impulsor3000
Exec=impulsor3000
Categories=Utility;
Keywords=impuls,pdf,converter
StartupNotify=true
