[Desktop Entry]
Type=Application
Name=Impulsor 3000
GenericName=impuls pdf converter
Icon=Impulsor-3000
Exec=Impulsor-3000
Categories=Utility;
Keywords=impuls,converter,pdf
StartupNotify=true
